.countdownContainer {
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;
  color: #6C88CF;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.orderDeadline {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  25% {
    color: #ea479e; /* Start with red color */
  }
  75% {
    color: #00ff00; /* Transition to green color */
  }
  100% {
    color: #ea479e; /* Return to red color */
  }
}