.faq-container {
  text-align: start;
  margin-top: 20px;
  color: #6c88cf;
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 50vh;
  background-color: rgba(242, 212, 204, 0.8);
  z-index: 3;
  top: 50%;
  left: 50%;
  align-items: center;
}

img {
  width: 250px;
  height: 200px;
}
