.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 25px;
  background-color: #F2D4CC;
  color: #6C88CF;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 50vh;
  font-size: 1.5rem;
}

span {
 color: #ea479e;

}

.textContainer {
  flex: 1;
  text-align: center;
}

.buttonContainer {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #6C88CF;
  color: #ea479e;
  cursor: pointer;
  font-family: 'Genty', 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
  text-decoration: none; /* Remove underline from the button text */
}