/* components/Home.css */

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 25px;
  background-color: #F2D4CC;
  color: #6C88CF;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 75vh;
  font-size: 1.5rem;
}

.textContainer {
  flex: 1;
  text-align: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #6C88CF;
  margin: 10px;
  color: #F2D4CC;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Add styles for the image container */
