.menu-container {
  text-align: center;
  margin-top: 25px;
  margin: 30px;
  /* width:auto; */
  color: #6c88cf;
  background-color: rgba(242, 212, 204, 0.9);
  border-radius: 15px;
  padding: 15px; /* Reduce the padding to reduce the spacing inside the container */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  /* min-height: 50vh; */
  z-index: 4;
  margin-bottom: 100px; /* Add margin at the bottom to create space for the button */
}

.menu-content {
  display: flex;
  padding: 0px;
  margin: 10px; /* Reduce the margin around the menu content */
  justify-content: space-evenly;
  align-content: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
  color: #6c88cf;
  font-size: 25px;
}

.menu-items {
  width: 48%; /* Adjust the width to create two columns */
  text-align: left;
}

.menu-items h2 {
  margin-bottom: 10px;
  color: #6c88cf;
}

.menu-items div {
  margin-bottom: 20px;
  color: #000000;
}

.menu-image {
  width: 100%; /* Adjust the width to create two columns */
}

/* Add the button styles */
.order-button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #6c88cf;
  color: #ea479e;
  cursor: pointer;
  font-family: "Genty", "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  text-decoration: none; /* Remove underline from the button text */
  transition: all 0.2s ease; /* Add a smooth transition effect on hover */
  /* Add 3D effect */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.order-button:hover {
  background-color: #f2d4cc;
  color: #6c88cf;
  /* Add 3D effect on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
  .menu-content {
    /* Change the flex-direction to column */
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 18px;
    padding: 10px;
  }

  .availability-text {
    display: none;
  }

  .menu-container {
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    max-width: 100%;
  }

  .menu-items {
    /* Adjust the width to take full width on mobile */
    width: 100%;
    /* Reset the text alignment to center */
    text-align: center;
  }

  .menu-item {
    width: 100%; /* Make each menu item take the full width on smaller screens */
  }

  .order-button {
    width: 100%; /* Make the order button take the full width on smaller screens */
    margin: 10px 0; /* Add some margin to separate the button from the menu items */
  }
}

@media (max-width: 1158px) and (max-height: 671px) {
  .orderForm-container {
    height: calc(
      100vh - 100px
    ); /* Adjust the height of the form container to fit the screen */
  }
}
