.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 75px; /* Adjust the margin as needed to set the distance from the top */
  color: #ea479e; /* Change the text color to match the "Order Form" text */
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(242, 212, 204, 0.8);
  min-width: auto;
}

h1 {
  font-size:54px;
  margin:auto;
  /* margin: 0px 368px; */
  color:#6c88cf;
}

.underline {
  text-decoration: underline;
}

/* .menu-content {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: col;
  color: #6c88cf;
} */

.menu-items {
  width: 48%; /* Adjust the width to create two columns */
  text-align: left;
}

.menu-items h2 {
  margin-bottom: 10px;
  color: #6c88cf;
}

.menu-items div {
  margin-bottom: 20px;
  color: #000000;
}

.menu-image {
  width: 100%; /* Adjust the width to create two columns */
}

/* Add the button styles */
.order-button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #6c88cf;
  color: #ea479e;
  cursor: pointer;
  font-family: "Genty", "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  text-decoration: none; /* Remove underline from the button text */
  transition: all 0.2s ease; /* Add a smooth transition effect on hover */
  /* Add 3D effect */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.order-button:hover {
  background-color: #F2D4CC;
  color: #6C88CF;
  /* Add 3D effect on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 767px) {
  .menu-items {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }
}

/* Media query for screens with a maximum width of 667px (specific breakpoint for smaller devices) */
@media (max-width: 667px) {
  .menu-container {
    display: flex;
    flex-direction: column;
  }
}