.navContainer {
  background-color: #FC6238;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  color: #FFD872;
  z-index: 8;
  text-align: center;
  height: 30px; /* Set a specific height for the container */

}

.navLink {
  color: #FFD872;
  text-decoration: none;
  font-size: 1.5rem;
}

.navLink:hover {
  color: #ea479e;
  text-decoration: underline;
}


/* Add a media query for mobile screens (max-width: 767px) */
@media (max-width: 767px) {
  /* Hide the navLink element containing "Home" on mobile */
  .navLink.home {
    display: none;
  }

  /* Hide the navLink element containing "Sign In" on mobile */
  .navLink.signin {
    display: none;
  }

  .navLink.review {
    display: none;
  }
}