.navContainer {
  background-color: #FC6238;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: #FFD872;
}

.navLink {
  color: #FFD872;
  text-decoration: none;
}

.navLink:hover {
  color: #F2D4CC;
  text-decoration: underline;
}
