.orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: #6C88CF;
  z-index: 1; 
}

.orderForm-content {
  flex: 1; /* Allow the form content column to grow and fill available space */
  flex-basis: 50%; /* Set initial size for the content column */
  max-width: 600px; /* Set a maximum width for the form content */
  /* padding: 20px; Add some padding to the form content column */
}

.orderForm-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  color: #6c88cf;
  border-radius: 15px;
  padding: 25px;
  /* z-index: 3; */
  background-color: rgba(242, 212, 204, 0.9);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* The order deadline countdown (on the right) */
.orderForm-countdown {
  flex: 1; /* Allow the countdown container to grow and fill available space */
  flex-basis: 40%; /* Set initial size for the countdown container */
  display: flex;
  justify-content: center;
  align-items: center;
}


.orderDeadline {
  animation: pulse 2s infinite;
}


@keyframes pulse {
  50% {
    color: #ea479e; /* Start with red color */
  } 

  50% {
    color: #00ff00; /* Transition to green color */
  }
  50% {
    color: #ea479e; /* Return to red color */
  }
}

.dropdown {
padding:10px;
border-radius: 10px;
border:solid #ea479e;
width:40%;
margin-left:15px;
text-align: center;
}

label {
  display: block; /* Display the labels as blocks to stack them vertically */
  text-align: left;
  margin-bottom: 10px;
  padding:10px;
}

.madLibInput {
  width:35%;
  margin-left:15px;
  padding: 10px;
  margin-bottom: 20px;
  border:solid #ea479e;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.submitButton {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6C88CF;
  color: #ea479e;
  cursor: pointer;
  font-family: 'Genty', 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
  text-decoration: none; /* Remove underline from the button text */
  transition: all 0.2s ease; /* Add a smooth transition effect on hover */
  /* Add 3D effect */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.submitButton:hover {
  background-color: #F2D4CC;
  color: #6C88CF;
  /* Add 3D effect on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

/* Add styles for the confirmation message */
.confirmationMessage {
  margin-top: 20px;
  color: #6c88cf;
  font-size: 20px;
  font-weight: bold;
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
  /* Hide the countdown container on mobile */
  .countdownContainer {
    display: none;
  }

  /* Adjust the height for smaller screens */
  .orderForm-container {
    padding-bottom: 60px; /* Add padding to the bottom to make space for the footer */
    padding-top:40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Show the orderDeadline text on mobile */
  .orderDeadline {
    display: none;
  }

  .orderForm-countdown {
    display: none;
  }

  /* Adjust the layout of the form elements for smaller screens */

  .orderForm-content {
    font-size: 15px;
    align-items: stretch; /* Stretch the form elements to fill the available width */
  }

  .madLibInput {
    width: 100%;
    max-width: 300px;
    
  }

  .dropdown {
    width: 100%;
    max-width: 300px;
  }


  .submitButton {
    width: 100%; /* Set the width to fill the container on smaller screens */
  }

}

/* Media query for screens less than 1158px width and 671px height */
@media (max-width: 1158px) and (max-height: 671px) {
  .orderForm {
    flex-direction: column; /* Change the direction to column */
    align-items: center; /* Center the form elements vertically */
  }

  .madLibInput,
  .submitButton {
    width: 50%; /* Reset the width to fill the container on smaller screens */
    /* max-width: 300px; Set a maximum width for better display on smaller screens */
    margin-bottom: 10px; 
  }

  /* Show each label and input on its own row */
  label {
    display: block;
    text-align: center;
    margin-bottom: 15px; /* Add extra margin between labels and inputs */
  }
  
  /* Add some margin below the form on smaller screens */
  form {
    margin-bottom: 40px;
  }
}

/* Additional styles for screens around 500px width and 743px height */
@media (max-width: 520px) and (max-height: 743px) {
  .orderForm {
    flex-direction: column;
    align-items: center;
  }

  .orderForm-container {
    height: fit-content;
  }

  .madLibInput,
  .submitButton {
    width: 40%;
    max-width: 200px;
    margin-bottom: 15px;
  }

  label {
    display: block;
    text-align: start;
    margin-bottom: 0px;
  }

  form {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .submitButton {
    width: 100%; /* Set the width to fill the container on smaller screens */
  }

}