/* components/OrderForm.css */

.orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: #6C88CF;
  margin-bottom: 100px;
  z-index: 2;
}

.orderform-container {
  color: #6c88cf;
  background-color: rgba(242, 212, 204, 0.9);
  border-radius: 15px;
  padding: 25px;
  /* margin-top: 25px; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  width: 100vh;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: row;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.orderForm-column1 {
  flex: 1;
  max-width: 500px;
  margin-right: 20px;
margin: auto;
}

.orderForm-column2 {
  flex: 1;
  max-width: 400px;
  max-height: 600px;
  margin: auto;
}

.orderDeadline {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  50% {
    color: #ea479e;
  } 

  50% {
    color: #00ff00;
  }
  50% {
    color: #ea479e;
  }
}

.dropdown {
  padding: 10px;
  border-radius: 10px;
  border: solid #ea479e;
  width: 50%;
  margin-left: 15px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
}

.madLibInput {
  width: 40%;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border: solid #ea479e;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.submitButton {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6C88CF;
  color: #ea479e;
  cursor: pointer;
  font-family: 'Genty', 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.2s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.submitButton:hover {
  background-color: #F2D4CC;
  color: #6C88CF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.confirmationMessage {
  margin-top: 20px;
  color: #6c88cf;
  font-size: 20px;
  font-weight: bold;
}


/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
  /* Hide the countdown container on mobile */
  .countdownContainer {
    display: block;
  }

  /* Adjust the height for smaller screens */
  .orderform-container {
    min-height: auto;
    padding-bottom: 60px; /* Add padding to the bottom to make space for the footer */
    padding-top:40px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  /* Show the orderDeadline text on mobile */
  .orderDeadline {
    display: block;
    font-size: 16px;
    margin: 10px;
    text-align: center; /* Center the order deadline text */
  }

  /* Adjust the layout of the form elements for smaller screens */
  .orderForm {
    font-size: 20px;
    flex-direction: column; /* Change the direction to column */
    justify-content: center;
    align-items: center;
  }

  .madLibInput {
    margin: 5px;
    width: 90%;
    max-width: 300px; /* Set a maximum width for better display on smaller screens */
  }

  .submitButton {
    font-size: 20px;
    width: 90%;
    max-width: 300px; /* Set a maximum width for better display on smaller screens */
    margin: 10px 0; /* Add margin to center the submit button */
  }
}

/* Media query for screens less than 1158px width and 671px height */
@media (max-width: 1158px) and (max-height: 671px) {
  .orderForm {
    flex-direction: column; /* Change the direction to column */
    align-items: center; /* Center the form elements vertically */
  }

  .madLibInput,
  .submitButton {
    width: 50%; /* Reset the width to fill the container on smaller screens */
    /* max-width: 300px; Set a maximum width for better display on smaller screens */
    margin-bottom: 10px; /* Add margin between form elements */
  }

  /* Show each label and input on its own row */
  label {
    display: block;
    text-align: center;
    margin-bottom: 15px; /* Add extra margin between labels and inputs */
  }
  
  /* Add some margin below the form on smaller screens */
  form {
    margin-bottom: 40px;
  }
}

/* Additional styles for screens around 500px width and 743px height */
@media (max-width: 520px) and (max-height: 743px) {
  .orderForm {
    flex-direction: column;
    align-items: center;
  }

  .madLibInput,
  .submitButton {
    width: 40%;
    max-width: 200px;
    margin-bottom: 15px;
  }

  label {
    display: block;
    text-align: start;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 40px;
  }
}
