.reviews-container {
  z-index: 2; /* Add a higher z-index value to make the reviews appear above the background container */
}

/* Reviews.css */

/* Styles for the custom previous arrow */
.slick-prev {
  position: absolute;
  left: 10px; /* Adjust the position from the left edge */
  top: 50%; /* Adjust the position from the top edge */
  transform: translateY(-50%);
  width: 100px;
  height: 40px;
  background-color: #FC6238;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; /* Set the z-index to 3 to appear above other elements */
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  z-index: 3;
}

/* Styles for the custom next arrow */
.slick-next {
  position: absolute;
  right: 10px; /* Adjust the position from the right edge */
  top: 50%; /* Adjust the position from the top edge */
  transform: translateY(-50%);
  width: 100px;
  height: 40px;
  background-color: #FC6238;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; /* Set the z-index to 3 to appear above other elements */
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  z-index: 3;
}

.slick-prev:before,
.slick-next:before {
 display: none; 
 
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  /* Add this style to prevent the default disabled styles from being applied */
  opacity: 1;
  pointer-events: auto;
}