/* index.css */

@font-face {
  font-family: 'Genty';
  src: url('./genty/GentyDemo-Regular.otf') format('opentype'),
       url('./genty/GentyDemo-Regular.ttf') format('truetype');
  /* Add any other desired font properties, such as font-weight and font-style */
}

body {
  font-family: 'Genty', sans-serif;
  background-color: #F2D4CC; /* Replace with your desired color */
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Set the height of the main App container to fill the screen */
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
