/* index.css */

@font-face {
  font-family: 'Genty';
  src: url('./styling/GentyDemo-Regular.otf') format('opentype'),
       url('./styling/GentyDemo-Regular.ttf') format('truetype');
  /* Add any other desired font properties, such as font-weight and font-style */
}

body {
  font-family: 'Genty', sans-serif;
  background-repeat: repeat; /* Adjust the repeat property as needed */
  background-size: cover; /* Adjust the size property as needed */
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Add letter-spacing to the entire body to space out characters */
body {
  letter-spacing: 3px; /* Adjust the value as needed */
}

.App {
  height: 100%; /* Set the height of the main App container to fill the screen */
  display: flex;
  flex-direction: column;
}
